@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

.scroll::-webkit-scrollbar {
  /* hide scrollbar */
  display: none !important;
}

.noScrollBars::-webkit-scrollbar {
  /* hide scrollbar */
  display: none !important;
}


.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.google-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 0 auto;
  width: fit-content;
}

.google-sign-in:hover {
  background-color: #f8f8f8;
}

.google-sign-in img {
  width: 20px;
  height: 20px;
}

.profile-container {
  text-align: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sign-out-button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sign-out-button:hover {
  background: #c82333;
} 


.animate-pulse {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite ;
}